h1 {
  font-size: 100px;
      font-family:hubot-sans, sans-serif;
  text-align: center;
    background-color: #6bc219;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFDE00;
}

h2 {
  font-size: 30px;
      font-family:hubot-sans, sans-serif;
  text-align: center;
    background-color: #6bc219;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFDE00;
}

main {
    background-color: #6bc219;
    font-family:hubot-sans, sans-serif;
    text-align: left;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFDE00;
}

@media (max-width: 600px) {
body {
  background-color: #FF0000;
  font-family:hubot-sans, sans-serif;
  margin: 20px;
  padding: 20px;
  color: #FFDE00;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #3B4CCA;
}

}
footer {
    background-color: #6bc219;
    font-family:hubot-sans, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFDE00;
}

img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
  background-color: #3B4CCA;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.green {
  color: green;
}
.blue {
  color: blue;
}
#big {
  font-size: 40px;
}
#bold {
  font-weight: bold;
}

.flex-container {
  display: flex;
   flex-direction: column;
}

.box {
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
    position : center;
    font-size: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0,
    0, 0.1);
    background-color: #FF0000;
    color: #050000;
}

nav {
    background-color: #6bc219;
    font-family:hubot-sans, sans-serif;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFDE00;
}

